/* LINE Seed Sans - Regular */
@font-face {
    font-family: 'LINESeedSans';
    src: url('../font/LINESeedSansTH_W_Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  /* LINE Seed Sans - Bold */
  @font-face {
    font-family: 'LINESeedSans';
    src: url('../font/LINESeedSansTH_W_Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  /* LINE Seed Sans - ExtraBold */
  @font-face {
    font-family: 'LINESeedSans';
    src: url('https://cdn.line-scdn.net/line-seed-font/1.0.0/LineSeedSans_W_XBd.woff2') format('woff2');
    src: url('../font/LINESeedSansTH_W_XBd.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }
  
  /* Optional fallback */
  * {
    font-family: 'LINESeedSans', 'Segoe UI', sans-serif;
  }
  
  table.dataTable td {
    vertical-align: middle;
  }

  #gauge_div {
    min-width: 200px;
    min-height: 120px;
  }


  /* --color-red-500: oklch(.637 .237 25.331);
  --color-red-600: oklch(.577 .245 27.325);
  --color-orange-500: oklch(.705 .213 47.604);
  --color-amber-100: oklch(.962 .059 95.617);
  --color-amber-400: oklch(.828 .189 84.429);
  --color-amber-600: oklch(.666 .179 58.318);
  --color-amber-800: oklch(.473 .137 46.201);
  --color-lime-500: oklch(.768 .233 130.85);
  --color-green-500: oklch(.723 .219 149.579);
  --color-green-700: oklch(.527 .154 150.069);
  --color-emerald-500: oklch(.696 .17 162.48);
  --color-emerald-600: oklch(.596 .145 163.225);
  --color-emerald-800: oklch(.432 .095 166.913);
  --color-teal-500: oklch(.704 .14 182.503);
  --color-teal-600: oklch(.6 .118 184.704);
  --color-sky-500: oklch(.685 .169 237.323);
  --color-sky-700: oklch(.5 .134 242.749);
  --color-blue-100: oklch(.932 .032 255.585);
  --color-blue-500: oklch(.623 .214 259.815);
  --color-blue-600: oklch(.546 .245 262.881);
  --color-blue-700: oklch(.488 .243 264.376);
  --color-purple-500: oklch(.627 .265 303.9);
  --color-fuchsia-500: oklch(.667 .295 322.15);
  --color-pink-300: oklch(.823 .12 346.018);
  --color-gray-500: oklch(.551 .027 264.364);
  --color-gray-800: oklch(.278 .033 256.848);
  --color-neutral-200: oklch(.922 0 0);
  --color-neutral-300: oklch(.87 0 0);
  --color-black: #000;
  --color-white: #fff; */